version: '3.8'
services:
  app:
    build: .
    ports:
      - '5010:5010'
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=production
      - PORT=5010
      - DATABASE_URL=${DATABASE_URL}
    env_file:
      - .env
    depends_on:
      - mongo

  mongo:
    image: mongo
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
      - ./docker/mongo-init-replica-set.sh:/docker-entrypoint-initdb.d/mongo-init-replica-set.sh:ro
    command: mongod --replSet rs0 --bind_ip_all

volumes:
  mongo_data:
